@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url("../css/footer.css");
@import url("../css/header.css");

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

:root{
    scroll-behavior: smooth;
}

body {
	background: #f4f5f9;
}

/* PREGUNTAS FRECUENTES */

.titulo{
    color: #59595a;
    text-align: center;
    margin-top: 50px;
}

.opciones-preguntas-frecuentes{
	margin: 15px 20% 0px 20%;
}

.respuesta{
	max-height: 0;
	overflow: hidden;
	position: relative;
}
.respuesta::before{
	content: "";
	position: absolute;
	
}
.cajas{
	border: 1px solid grey;
	padding: 5px;
	width: auto;
	background: #37455f;
	border-radius: 10px;
	margin-bottom: 20px;

}
.cajas:hover{
	background: #22375e;
	cursor: pointer;
	
}

.accordion-item img{
    
  	height: 20%;
	
}

.cajas span{
    color: white;
	padding-left: 10px;
}




.btn{
	display: inline-block;
	background: #22375e;
	color: #fff;
	padding: 8px 30px;
    margin: 30px 0;
    margin-left: 30px;
	border-radius: 30px ;
	transition: background 0.5;
}
.btn:hover{
	background: #6a6b6d;
}

.edicion{
    display: inline-block;
    float: right;
	background: #212653;
	color: #fff;
	padding: 8px 30px;
    margin: 0 0;
    margin-left: 100px;
	border-radius: 30px ;
	transition: background 0.5;
}
.edicion:hover{
	background: #6a6b6d;
}

.eliminacion{
    display: inline-block;
    float: right;
	background: #802424;
	color: #fff;
	padding: 8px 20px;
    margin: 0 0;
    margin-left: 10px;
	border-radius: 30px ;
	transition: background 0.5;
}
.eliminacion:hover{
	background: #6a6b6d;
}
/*IMPORTANTEEEE*/

/* The Magic */


/* Aesthetic */
body {
  background:#f4f5f9;
}
/* pagina de busqueda*/
.listado {
    padding: 0;
    margin: 0 auto;
    width: 80%;
    font-family: "PT Sans" sans-serif
}

.listado .item-listado{
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  border-bottom: 1px solid #666;
  padding: 1em;
  color: #eee;
  
}


.listado h1 {
  
  margin-left: 30px; 
}
.listado h3 {
    margin: 30px;

}

.listado .item-listado:nth-child(1) {
  background-color: #37455f;
  background-image: linear-gradient(-90deg,  #37455f,  #37455f 2em,#37455f) ;

}

.listado .item-listado:nth-child(2) {
  background-color: #37455f;
  background-image: linear-gradient(-90deg, #37455f, #37455f 2em, #37455f);
}

.listado .item-listado:nth-child(3) {
  background-color:  #37455f;
  background-image: linear-gradient(-90deg, #37455f, #37455f 2em, #37455f);
}

.listado .item-listado:nth-child(4) {
  background-color:  #37455f;
  background-image: linear-gradient(-90deg, #37455f, #37455f 2em, #37455f);
}

.listado .item-listado:nth-child(5) {
	background-color: #37455f;
	background-image: linear-gradient(-90deg,#37455f, #37455f 2em,  #37455f);
}

.listado .item-listado:nth-child(6) {
	background-color: #37455f;
	background-image: linear-gradient(-90deg,#37455f, #37455f 2em,  #37455f);
}

.listado .item-listado:nth-child(7) {
	background-color: #37455f;
	background-image: linear-gradient(-90deg,#37455f, #37455f 2em,  #37455f);
}