@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

:root{
    scroll-behavior: smooth;
}

body {
	background: #f4f5f9;
}

header {
	width: fit-content;
	height: 80px;
	margin: 0;
	width: 100%;
	height: 50px;
	background: #37455f;
}
 
/* LOGO */

.brand-logo img{
	height: 40px;
	width: 45px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

/* BUSCADOR */

.buscador{
    margin-top: 5px;
	display: inline-block;
	margin-bottom: auto;
	margin-left: 25px;
}

.buscador input{
    width: 600px;
    height: 40px;   
    justify-content: center;
	border-radius: 10px 0 0 10px;
	border-color: black;
	border-right-color: black thin;
}

.buscador ::placeholder{
    padding-left: 10px;
}
.boton{
	float: right;
	background: white;
	padding: 10px 7px 2px 5px;
	margin-left: 0;
	margin-top: 2px;
	border-radius: 0 10px 10px 0;
	border-color: black;
	border-left: transparent;
}
.boton img{
	height: 20px;
	width: 20px;
}

/* NAVEGACION */

.navegacion{
	margin-top: 15px;
	margin-right: 25px;
	font-weight: 600;
	float: right;
	
}

.navegacion li{
	padding-right: 15px;
}

.menu-categorias{
	padding-top: 16px;
}

.navegacion span{
	color: rgba(255, 255, 255, 0.486);
	font-size: 10px;
}

.navegacion > li{
	float: left;
}

.navegacion li a{
	color: white;
	margin: 5px;
	text-decoration: none;
	
}

.navegacion li ul li{
	background: #37455f;
	color: white;
	padding: 10px 15px;
	display: block;
}

.navegacion a:hover{
	text-decoration: underline;
}

.navegacion li ul{
	display: none;
	position: absolute;
	min-width: 140px;
	z-index: 100; /*LO PONE ARRIBA DE TODA LA PAGINA */
}

.navegacion li:hover > ul{
	display: block;
}

.navegacion li ul li:hover{
	background-color: #22375e;
}

/* CARRITO */

.carrito{
	float: right;
	margin-top: 8px;
	margin-right: 20px;
}

.carrito img{
	width: 30px;
	height: 30px;
}

/* Cargar Libros */

.titulo{
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}

.CargarLibro{
	display: block;
	text-align: center;
}

.CargarLibro label{
	margin-top: 15px;
	font-size: 20px;
	display: block;
	margin-bottom: 15px;
}

.CargarLibro input{
    width: 300px;
	height: 30px;
	box-shadow:black ;
}

.cargarLibro select{
	margin-top: 15px;
	font-size: 20px;
	display: block;
	margin-bottom: 15px;
}

.cargarLibro button{
	font-size: 150%;
}

.CargarLibro input#bestseller{
	width: 20px;
	height: 20px;
}

.CargarLibro input#agregarIdiomaCheckbox{
	width: 20px;
	height: 20px;
}

.CargarLibro input#agregarEditorialCheckbox{
	width: 20px;
	height: 20px;
}


.CargarLibro input#agregarCategoriaCheckbox{
	width: 20px;
	height: 20px;
}




.CargarLibro select{
	width: 300px;
	height: 30px;
}

.CargarLibro #enviar:hover{
	cursor: pointer;
	background-color: grey;
}

#descripcion{
    height: 100px;
}

#enviar{
    display: block;
    height: 50px;
    width: 100px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}

/* FOOTER */

footer{
    background: #37455f;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.footer-menu { 
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding: 50x;
}

.menu-card a{
    color: #ccc;
    text-decoration: none;
}

.menu-card a:hover{
    cursor: hand;
    text-decoration: underline;    
}

.menu-card{
    text-align: center;
}

.menu-card h4{
    color: #ffff;
    border-bottom: 3px solid #7e7d7d;
    padding-bottom: 5px;
    margin-bottom: 10px;
    
}

.small-container{
	max-width: 900px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex: wrap;
	justify-content: space-around
	;
}

.col-2{
	flex-basis: 50%;
	min-width: 100px;
}



.col-2 img{
	max-width: 100%;
	padding: 60px 0;
	

}

.col-2 h1{
	font-size: 50px;
	line-height: 40px;
	margin: 10px 10px;
}

.btn{
	display: inline-block;
	background: #22375e;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px ;
	transition: background 0.5;
}
.btn:hover{
	background: #6a6b6d;
}

.single-product .col-2 img{
	padding: 0;
	height: 700px;
}
.single-product .col-2 img {
    
    left: 53.3438px;
    top: 190px;
    height: 500px;
    width: 350px;

}

.single-product .col-2{
	padding: 0;

}

.single-product h4{
	padding: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px #090b24;

}
input:focus{
	outline: none;
}

.topleft {
	
	
	left: 56px;
	text-align: left;
	font-size: 18px;
	position: absolute;
  	top: 15%;
  	width: 90%;
  	
  	
  }