@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url("../css/footer.css");
@import url("../css/header.css");

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

:root{
    scroll-behavior: smooth;
}

body {
	background: #f4f5f9;
}

/* Cargar Libros */

.titulo{
    margin-top: 30px;
    font-size: 25px;
    text-align: center;
}

.CargarLibro{
	display: block;
	text-align: center;
}

.CargarLibro label{
	margin-top: 15px;
	font-size: 20px;
	display: block;
	margin-bottom: 15px;
}

.CargarLibro input{
    width: 300px;
	height: 30px;
	box-shadow:black ;
}

.cargarLibro select{
	margin-top: 15px;
	font-size: 20px;
	display: block;
	margin-bottom: 15px;
}

.cargarLibro button{
	font-size: 150%;
}

.CargarLibro input#bestseller{
	width: 20px;
	height: 20px;
}

.CargarLibro input#agregarIdiomaCheckbox{
	width: 20px;
	height: 20px;
}

.CargarLibro input#agregarEditorialCheckbox{
	width: 20px;
	height: 20px;
}


.CargarLibro input#agregarCategoriaCheckbox{
	width: 20px;
	height: 20px;
}




.CargarLibro select{
	width: 300px;
	height: 30px;
}

.CargarLibro #enviar:hover{
	cursor: pointer;
	background-color: grey;
}

#descripcion{
    height: 100px;
}

#enviar{
    display: block;
    height: 50px;
    width: 100px;
    margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
}


.small-container{
	max-width: 900px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex: wrap;
	justify-content: space-around
	;
}

.col-2{
	flex-basis: 50%;
	min-width: 100px;
}



.col-2 img{
	max-width: 100%;
	padding: 60px 0;
	

}

.col-2 h1{
	font-size: 50px;
	line-height: 40px;
	margin: 10px 10px;
}

.btn{
	display: inline-block;
	background: #22375e;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px ;
	transition: background 0.5;
}
.btn:hover{
	background: #6a6b6d;
}

.single-product .col-2 img{
	padding: 0;
	height: 700px;
}
.single-product .col-2 img {
    
    left: 53.3438px;
    top: 190px;
    height: 500px;
    width: 350px;

}

.single-product .col-2{
	padding: 0;

}

.single-product h4{
	padding: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px #090b24;

}
input:focus{
	outline: none;
}

.topleft {
	
	
	left: 56px;
	text-align: left;
	font-size: 18px;
	position: absolute;
  	top: 15%;
  	width: 90%;
  	
  	
  }