@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url("../css/footer.css");
@import url("../css/header.css");


* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

:root{
    scroll-behavior: smooth;
}

body {
	background: #f4f5f9;
}

/* MAIN */

.anuncio{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.anuncio h1{
    color: rgb(46, 136, 46);
    padding-bottom: 5%;
}

.anuncio p{
    font-size: 120%;
    margin-bottom: 5px;
}

.anuncio a{
    font-size: 110%;
    color: black;
    font-weight: bold;
}

.numero{
    font-weight: bold;
}

.anuncio h2{
    margin-top: 50px;
}
