@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header {
	width: fit-content;
	height: 80px;
	margin: 0;
	width: 100%;
	height: 50px;
	background: #37455f;
}
 
/* LOGO */

.brand-logo img{
	height: 40px;
	width: 45px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

/* BUSCADOR */

.buscador{
    margin-top: 5px;
	display: inline-block;
	margin-bottom: auto;
	margin-left: 25px;
}

.buscador input{
    width: 600px;
    height: 40px;   
    justify-content: center;
	border-radius: 10px 10px 10px 10px;
	border-color: black;
	border-right-color: black thin;
}

.buscador ::placeholder{
    padding-left: 10px;
}
.botonBusqueda{
	float: right;
	background: white;
	padding: 10px 7px 2px 5px;
	margin-left: 0;
	margin-top: 2px;
	border-radius: 0 10px 10px 0;
	border-color: black;
	border-left: transparent;
}
.botonBusqueda img{
	height: 20px;
	width: 20px;
}

/* NAVEGACION */

.navegacion{
	margin-top: 15px;
	margin-right: 25px;
	font-weight: 600;
	float: right;
	
}


.menu-categorias{
	padding-top: 16px;
}

.navegacion span{
	color: rgba(255, 255, 255, 0.486);
	font-size: 10px;
}

.navegacion > li{
	float: left;
}

.navegacion li a {
	padding-right: 15px;
	color: white;
	margin: 5px;
	text-decoration: none;
	
}

.navegacion li ul li{
	background: #37455f;
	color: white;
	padding: 10px 15px;
	display: block;
}

.navegacion a:hover{
	text-decoration: underline;
}

.navegacion li ul{
	display: none;
	position: absolute;
	min-width: 140px;
	z-index: 100; /*LO PONE ARRIBA DE TODA LA PAGINA */
}

.navegacion li:hover > ul{
	display: block;
}

.navegacion li ul li:hover{
	background-color: #22375e;
}


/* CARRITO */

.carrito{
	float: right;
	margin-top: 8px;
	margin-right: 20px;
}

.carrito img{
	width: 30px;
	height: 30px;
}

/* Boton de busqueda */

#search-result{
	margin:5px; 
	padding:5px; 
	text-decoration:none;
	line-height:22px;
	color: black;
  }
  
  #search-result:hover{
	background-color:rgb(214, 214, 214);
  }

  #searchbar {
	background-color: white;
	height: 15px;
	border-radius: 30px;
	padding: 10px;
	width: 190px;
  }
  
  .input_box {
	border: none;
	outline: none;
	background: none;
	float: left;
	padding: 0;
	color: black;
	font-size: 16px;
	line-height: 15px;
	width: 160px;
  }
  
  .glass {
	color: black;
	float: right;
	text-decoration: none;
	width: 15px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	border-radius: 40px;
  }