@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url("../css/footer.css");
@import url("../css/header.css");
@import url("../css/ofertas.css");

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

/* Scrolleo */

:root {
	scroll-behavior: smooth;
}

body {
	background: #f4f5f9;
	padding: 0px;
	margin: 0;
}

/* Tres libros de abajo en la main page */

.card-brand {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem 5rem;
}

.single-card {
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

															
															/*Carrusel*/
* {
	box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
	max-width: 1200px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Botones del carrusel */

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Transisión de el carrusel */

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

													/* Parte de todos los libros en venta */

.main {
	max-width: 1000px;
	margin: auto;
}

.libros-en-venta-titulo{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	color:#22375e;
	
}

.col {
	margin: 10px -16px;
}

/* Agrega un padding entre cada columna */
.col,
.col>.column {
	padding: 6px;
}

/* Crea 5 columnas que se posicionan una al lado de la otra */
.column {

	float: left;
	width: 20%;

}

/* Clear floats after cols */
.col:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: white;
	padding: 15px;
	text-align: center;
	margin-bottom: 5px;
}

/* Para que todas las imagenes tengan el mismo tamaño */

.content img{
	width: 170px;
	height: 250px;
}

/* Para que todos los titulos esten en un solo renglon */

.content h4{
	font-size: 0.625rem; /* 10px */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis; /*  Me oculta el texto si es muy largo */
}

.books {
	position: relative;
}

/* Estilos del boton "Comprar" */

.button {
	display: inline-block;
	background: #22375e;
	color: #fff;
	padding: 8px 30px;
	border-radius: 30px;
	transition: background 0.5;
	font-family: Arial;
	cursor:pointer;
}

.button:hover {
	background: #6a6b6d;
}