@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
@import url("../css/footer.css");
@import url("../css/header.css");

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

:root {
	scroll-behavior: smooth;
}

body {
	background: #f4f5f9;
	padding: 0px;
	margin: 0;
}

.single-item {
	width: 14%;
	margin-right: 1rem;
	background: #fff;
	border-radius: 5px;
	color: #6a6b6d;
}

.single-item a {
	color: #6a6b6d;
}

.single-item .img {
	height: 200px;
	background-size: 25px 50px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 5px;
}

.single-item .info {
	padding: 1rem;
}

.single-item .info h3,
.single-item .info p {
	text-align: center;
	margin-bottom: 0.7rem;
}

.price h4 {
	font-size: 1rem;
	font-family: sans-serif;
	font: bold;
	text-align: center;
}

.card-brand {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0rem 5rem;
}

.single-card {
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}

.menu-card a {
	color: #ccc;
	text-decoration: none;
}

.menu-card a:hover {
	cursor: hand;
	text-decoration: underline;
}

.menu-card {
	text-align: center;
}

.menu-card h4 {
	color: #ffff;
	border-bottom: 3px solid #7e7d7d;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.small-container {
	max-width: 900px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row {
	display: flex;
	align-items:flex-start;
	flex: wrap;
	justify-content: space-around;
}

.col-2 {
	flex-basis: 50%;
	min-width: 100px;
}

.col-2 img {
	max-width: 100%;
	padding: 60px 0;
}

.col-2 h1 {
	font-size: 50px;
	line-height: 40px;
	margin: 10px 10px;
}

.btn {
	display: inline-block;
	background: #22375e;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5;
}

.btn:hover {
	background: #6a6b6d;
}

.single-product .col-2 img {
	padding: 0;
	height: 700px;
}

.single-product .col-2 img {

	left: 53.3438px;
	top: 190px;
	height: 500px;
	width: 350px;
}

.single-product .col-2 {
	padding: 0;
}

.single-product h4 {
	padding: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product input {
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px #090b24;

}

input:focus {
	outline: none;
}

/* Categorias en el archivo "libros.php" */

.topleft {
	left: 56px;
	text-align: left;
	font-size: 18px;
	position: relative;
	top: 15%;
	width: 90%;
}


/*---------------------------------------------------------------------*/
/*ultimo agregado para el slider principal*/
* {
	box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
	max-width: 1200px;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}



/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* MAIN */

.titulo {
	margin-top: 50px;
	text-align: center;
	font-size: 150%;
	color: grey;
}

.contenedor-libros {
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 50px;
}

.libro {
	margin-bottom: 40px;
	margin-right: 50px;
	margin-left: 50px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	border-radius: 5px;
	background-color: rgb(199, 183, 183);
}

.libro img {
	width: 140px;
	height: 210px;
	object-fit: cover;
	display: block;

}


.info {
	text-align: center;
	color: grey;
}

/*extrassss*/
.deals {
	background: #090b24;
	color: #fff;
	padding: 3.5rem 3rem;
}

.container {
	position: relative;
	width: 32%;

}

.image {
	display: block;
	width: 40%;
	height: auto;
}

.overlay {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: #10133a;
	overflow: hidden;
	width: 40%;
	height: 0;
	transition: .5s ease;
}

.container:hover .overlay {
	bottom: 0;
	height: 100%;
}


.botonn {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 8px 20px;
	position: static;
	bottom: 8px;
	width: 50%;



	background: #22375e;
	color: #fff;
	border-radius: 30px;
	transition: background 0.5;
}

.botonn:hover {
	background: #6a6b6d;
}


/* Parte de mas buscados Center website */

.main {
	max-width: 1000px;
	margin: auto;
}

.mybotonContainer {
	max-width: 1000px;
}

h1 {
	font-size: 50px;
	word-break: break-all;
}

.col {
	margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.col,
.col>.column {
	padding: 6px;
}

/* Create three equal columns that floats next to each other */
.column {
	
	float: left;
	width: 20%;
	display: none;
	/* Hide all elements by default */
}

/* Clear floats after cols */
.col:after {
	content: "";
	display: table;
	clear: both;
}

/* Content */
.content {
	background-color: white;
	padding: 10px;
	text-align: center;

}

/* Para que todas las imagenes tengan el mismo tamaño */

.content img{
	max-width: 170px;
	max-height: 250px;
} 

/* Para que todos los titulos esten en un solo renglon */

.content h4{
	font-size: 0.625rem; /* 10px */
}

.books {
	position: relative;
}

/* The "show" class is added to the filtered elements */
.show {
	display: block;
}

/* Estilos de los botones "Mas buscados","BestSeller" y "MostrarTodo" */

.boton{
	border: none;
	outline: none;
	padding: 12px 16px;
	background-color: white;
	cursor: pointer;
}

.boton:hover {
	background-color: #ddd;
}

.boton:active {
	background-color: #666;
	color: white;
}

/* Estilos del boton "Comprar" */

.button {
	display: inline-block;
	background: #22375e;
	color: #fff;
	padding: 8px 30px;
	border-radius: 30px;
	transition: background 0.5;
	font-family: Arial;
	cursor:pointer;
}

.button:hover {
	background: #6a6b6d;
}